*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 207.vh;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://i.pinimg.com/1200x/b4/90/00/b49000a8c51153e06933ad3723f51710.jpg);
    background-size: cover;
    background-position: center;
}
 a.navbar-brand{
    width: 85%;
    color: white;
    margin: auto;
    align-items: center;
    justify-content: space-between;
 font-size: 40px;
 font-weight: 600;
    
} 
a.nav-link{
   color: #fff;
   list-style: none;
   margin: 0 6px;
   display: inline-block;   
   position: relative; 
text-transform: uppercase;
font-size: 20px;


}
a.nav-link::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
a.nav-link:hover::after{
    width: 100%;
    
}
.content{
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    margin-left: 70px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    border-radius: 25px;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
width: 100%;
}
button:hover{
    border: none;
}